*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /*outline: 2px solid red;*/
}

html{
    scroll-behavior: smooth;
}

:root{
    /*COLORS:*/
    --backgroundCLR: #1F2937;
    --mainTXT: #F9FAF8;
    --secondaryTXT: #E5E7EB;
    --btnCLR: #3882F6;
    --infoTXT: #1F2937;
}

.container{
    display: flex;
    flex-direction: column;
}

.item{
    display: inherit;
    height: 100vh;
    width: max(100%);
    overflow: hidden;
    flex-direction: column;
    padding-left: 15rem;
    padding-right: 15rem;
}

.one{
    background-color: var(--backgroundCLR);
}

header{
    display: inherit;
    height: 3rem;
    width: max(100%);
    flex-direction: row !important;
    align-items: center;
    font-size: 24px;
    color: var(--mainTXT);
    padding-top: 2rem;
    word-spacing: 2rem;
}

nav{
    display: inherit;
    width: max(100%);
    justify-content: flex-end;
    color: var(--secondaryTXT);
    font-size: 18px;
    gap: 2rem;
    font-weight: bolder;
}

header li{
    display: inline-block;
}

header li a{
    color: inherit;
    text-decoration: none;
}

.hero{
    display: inherit;
    height: inherit;
    width: inherit;
    align-items: center;
    flex-direction: row;
}

.heroCont{
    display: inherit;
    flex-direction: column;
    gap: 40px;
}

.heroCont p{
    color: var(--secondaryTXT);
    font-size: 1.5rem;
}

.heroImg{
    display: inherit;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.heroImg img{
    height: 400px;
    width: 600px;
}

.hero h2{
    font-size: 48px;
    font-weight: bolder;
    color: var(--mainTXT)
}

.hero button{
    color: white;
    font-size: 1.2rem;
    background-color: var(--btnCLR);
    height: 5rem;
    width: 10rem;
    text-decoration: none;
    border-style: none;
    border-radius: 10%;
}

.hero button:active,
.hero button:hover{
    cursor: pointer;
    opacity: 90%;
    box-shadow: 1px 1px 1px darkblue;
}

.two{
    align-items: center;
}

.two h2{
    display: flex;
    width: max(100%);
    height: 40%;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.imgShowcase{
    display: flex;
    height: 100vh;
    width: max(100%);
    align-items: center;
    justify-content: center;
    gap: 4rem;
    color: purple;
}

.three{
    background-color: var(--secondaryTXT);
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: justify;
}

.three strong{
    display: inherit;
    width: inherit;
    justify-content: flex-end !important;
    padding-top: 4rem;
}

.landingImage{
    height: 20px;
    width: 20px;
}

.showcase{
    height: 200px;
    width: 200px;
    border: solid 2px var(--btnCLR);
    border-radius: 10%;
}

.four{
    display: inherit;
    align-items: center;
    justify-content: center;
}

.action{
    background-color: #3882F6;
    color: white;
    height: 10rem;
    width: 60rem;
    display: inherit;
    align-items: center;
    justify-content: center;
    border: #3882F6 solid 2px;
    border-radius: 2%;
}

.card{
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cText{
    padding-right: 60px;
}

.cBtn{
    padding-left: 40px;
}

.cBtn a{
    color: white;
    padding: .8rem;
    font-size: 1.2rem;
    border: #F9FAF8 solid 2px;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    text-align: center;
}

.cBtn:active,
.cBtn:hover{
    cursor: pointer;
}

footer{
    display: inherit;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 4rem;
    width: max(100%);
    color: white;
    font-size: 1.2rem;
}